<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"><!-- 数据库连接bean -->
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/hbatis?characterEncoding=utf8" />
    <property name="username" value="root" />
    <property name="password" value="rolima" />
  </bean>

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"><!-- sqlSessionFactory bean -->
    <property name="dataSource" ref="dataSource" /><!-- 数据源 -->
    <property name="configLocation" value="classpath:Configuration.xml" /><!-- 配置文件 -->
  </bean>

  <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"><!-- user映射bean -->
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    <property name="mapperInterface" value="com.john.hbatis.mapper.IUserMapper" /><!-- 映射接口 -->
  </bean>
</beans>  
